doctype
html(lang="en")
  head
    title Como Requintear la Guitarra
    link(rel="stylesheet" href="main.css")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="Aprende a requintear la guitarra con la clasica Norte&ntilde;a 'El Anillo Grabado' de Antonio Aguilar. Mira este video gratis e inscribite para mas videos y tablaturas.")
    meta(name="keywords", content="como requintear, guitarra, aprende a tocar la guitarra, guitarra norte&ntilde;a, tablaturas, el anillo grabado, Antonio Aguilar")
    meta(name="author", content="Celso Mireles")
    meta(name="msvalidate.01", content="5D3D6337B966DA1BF5FF37C3E2A6E46F")
  body
    != yield

    script(src="js/jquery-2.1.4.js")
    script(src="js/bootstrap.min.js")
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-71959453-1', 'auto');
      ga('send', 'pageview');
